body {
    font-family: Verdana;
    color: #775B59;
}
strong {
}
h1 {
    color: #775B59;
}
h2 {
    color: #775B59;
}
h3 {
    color: #775B59;
}
li {
    color: #775B59;
}
tr {
    color: #775B59;
}
a {
    color: #81A094;
}
b {
    color: #81A094;
}
body {
    background-color: #A8F9FF;
}
/*Colors: https://coolors.co/a8f9ff-9ae5e6-81a094-775b59-32161f*/